// Brand Colors
$brand-blue: #002888;
$brand-green: #43A047;
$brand-gray: #424242;
$lightgray: rgba(189, 189, 189, 0.24);
$table-border-gray: rgba(0, 0, 0, 0.12);
$white: #FFFFFF;
// Color Roles
$primary: $brand-blue;
$secondary: $brand-gray;
// Typography
$font-mono: 'Courier',
monospace;
$font-sans: 'Helvetica', 'Arial', 'Roboto', sans-serif;
$base-font-color: $brand-gray;
$base-font-family: $font-sans;
$base-font-size: 14px;
$small-font-size: 12px;
$font-light: 300;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$base-line-height: 1.5em;
$headings: (6, 5, 4, 3, 2, 1);
// Borders
$base-border: 1px solid $brand-gray;
$base-radius: 0.25rem;
// Shadows
$base-box-shadow: rgba(darken($brand-gray, 20%), 0.2) 0 0 5px;
$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 5px 0 rgba(0,0,0,0.26);
// $button-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16),
// 0 2px 5px 0 rgba(0, 0, 0, 0.26);
$button-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
// Dimensions
$sidebar-width: 256px;
$header-height: 64px;
//Buttons
$primary-button: $brand-green;
$secondary-button: $white;
$alternate-button: $brand-blue;
$disabled-button: $lightgray;
//Tables
$table-border: 1px solid $table-border-gray;

